@{
    ViewBag.Title = "Home Page";
}

<!-- our -->
<div id="games" class="our">
    <div class="container" id="movies">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Most Popular Movies</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin_bottom">
                <div class="row">

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="two-box">
                            <figure><img src="~/images/openheimer.jpg" alt="#" style="width: 334px; height: 247px" /></figure>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                        <div class="Games">
                            <h3 style="font-style: italic">Openheimer</h3>
                            <p>"Openheimer" is a captivating historical drama directed by Christopher Nolan. The film delves into the secretive world of J. Robert Oppenheimer, a brilliant physicist who played a pivotal role in developing the atomic bomb during World War II. It explores the moral dilemmas and consequences of his groundbreaking work.</p>
                            <a href="https://www.imdb.com/title/tt15398776/">Take a cinematic journey</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 margin_bottom">
                <div class="row">

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="two-box">
                            <figure><img src="~/images/barbie.jpg" style="width: 334px; height: 270px" alt="#" /></figure>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                        <div class="Games">
                            <h3 style="font-style: italic">Barbie</h3>
                            <p>"Barbie" is a delightful family-friendly movie that follows the adventures of Barbie, a young woman with boundless dreams and aspirations. As she embarks on a fantastic journey to a new world, audiences will be enchanted by her courage, creativity, and the power of imagination. This heartwarming tale celebrates individuality and the joy of pursuing one's passions.</p>
                            <a href="https://www.imdb.com/title/tt1517268/">Take a cinematic journey</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-md-12" style="margin-bottom: 20px">
                <div class="row">

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="two-box">
                            <figure><img src="~/images/fastXba.png" style="width: 334px; height: 270px" alt="#" /></figure>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                        <div class="Games">
                            <h3 style="font-style: italic">Fast X</h3>
                            <p>"Fast X" accelerates the beloved action-packed Fast & Furious franchise to new heights. In this adrenaline-fueled installment, Dominic Toretto and his team reunite for an electrifying mission that takes them around the globe, pushing their driving skills to the limit. Spectacular stunts, high-octane races, and unexpected alliances make this an exhilarating ride for fans of the series.</p>
                            <a href="https://www.imdb.com/title/tt5433140/">Take a cinematic journey</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>